
.page {
  width: 21cm;
  height: 29.7cm;
  padding: 1cm;
  margin: 100px auto;

  background: white;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
.webPage{
  width: 40cm;
  height: 20cm;
  padding: 1cm;
  margin: 25px auto;

  background: white;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
@media print {
  body,
  .webPage{
    height: auto;
    margin: 0;
    page-break-after: always;
    box-shadow: initial;
  }
}

@media print {
  body,
  .page {
    height: auto;
    margin: 0;
    page-break-after: always;
    box-shadow: initial;
  }
}

.footerPage{
  width: 90%;
  height: 2cm;
  padding: 25px;
  margin: 50px auto;

  background: white;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

@media print {
  body,
  .footerPage{
    height: auto;
    margin: 0;
    page-break-after: always;
    box-shadow: initial;
  }
  
}